<!DOCTYPE html>
<html>
  <head>
    <title>Traffic Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class = "projectName" >Traffic Management System Using Image Processing</h1><br><br><br>
      </div>
  </header>
    {% block content %}
    {% endblock %}
   
  </body>
</html>